NEBIUS_API_KEY=<put here the real NEBIUS_API_KEY>
NEBIUS_BASE_URL=https://api.studio.nebius.com/v1/
NEBIUS_AGENT_MODEL=openai/gpt-oss-120b
NEBIUS_ROUTER_MODEL=openai/gpt-oss-120b
DATASET_PATH=data/Bitext_Sample_Customer_Support_Training_Dataset_27K_responses-v11.csv
MAX_AGENT_ITERATIONS=12
MEMORY_DB_PATH=memory/agent_memory.sqlite
